Release/64/Custom-Command-with-Custom-DataRef.log
Release/64/Custom-Command-with-Custom-DataRef.obj
Release/64/vc143.pdb
Release/64/win.xpl.recipe
Release/64/Custom-C.FC191395.tlog/CL.command.1.tlog
Release/64/Custom-C.FC191395.tlog/CL.read.1.tlog
Release/64/Custom-C.FC191395.tlog/CL.write.1.tlog
Release/64/Custom-C.FC191395.tlog/Custom-Command-with-Custom-DataRef.lastbuildstate
Release/64/Custom-C.FC191395.tlog/link.command.1.tlog
Release/64/Custom-C.FC191395.tlog/link.read.1.tlog
Release/64/Custom-C.FC191395.tlog/link.write.1.tlog
Release/plugins/Custom-Command-with-Custom-DataRef/64/win.pdb
Release/plugins/Custom-Command-with-Custom-DataRef/64/win.xpl
.vs/Custom-Command-with-Custom-DataRef/v17/.suo
.vs/Custom-Command-with-Custom-DataRef/v17/Browse.VC.db
.vs/Custom-Command-with-Custom-DataRef/v17/ipch/AutoPCH/c5f9c2d94061a81d/CUSTOM-COMMAND-WITH-CUSTOM-DATAREF.ipch
